/* 主题色 */
$theme-color: #2979ff;                    // 主色调
$theme-color-light: #ecf5ff;              // 主色调-浅色
$theme-color-dark: #2b85e4;               // 主色调-深色

/* 功能色 */
$success-color: #19be6b;                  // 成功色
$warning-color: #ff9900;                  // 警告色
$error-color: #fa3534;                    // 错误色

/* 文本色 */
$text-color-base: #303133;                // 主要文字
$text-color-normal: #606266;              // 常规文字
$text-color-light: #909399;               // 次要文字
$text-color-disabled: #c0c4cc;            // 禁用文字

/* 背景色 */
$bg-color: #f3f4f6;                       // 背景色
$bg-color-white: #ffffff;                 // 白色背景
$bg-color-grey: #f9f9f9;                  // 灰色背景

/* 边框色 */
$border-color: #dcdfe6;                   // 边框色

/* 阴影 */
$box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);